.product__another {
    position: relative;
}

.another__slider {
    display: flex;
    align-items: center;
    justify-content: center;

    @include phones() {
        width: 100%;
        padding: 20px;
    }
}

.another__slide{
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
    width: 260px;
    margin-right: 20px;
    padding: 0;

    &:last-child {
        margin-right: 0;
    }

    .slide__img {
        background-color: #f6f6f6;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slide__info {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        padding: 20px 26px 0 26px;
    }

    .info__title {
        font-size: 12px;
    }

    .info__size {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .info__weight {
        margin-bottom: 10px;
    }

    .info__buy {
        padding: 0 26px;
        display: flex;
        font-size: 20px;
        font-weight: bold;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 20px;
    }

    .info__stars {
        margin-bottom: 20px;
    }

    .buy__btn {
        color: #ff6212;
        background: none;
        border: 2px solid #ff6212;
        border-radius: 6px;
        width: 68px;
        height: 43px;
    }
}

.another__title {
    margin: 60px 0 30px 0;
}

.product__breadcrumbs {
    background: white;
}

.product__price {
    font-size: 25px;
    font-weight: bold;
}

.product__ord {
    background-color: #ff6212;
    border: 2px solid #ff6212;
    border-radius: 4px;
    width: 238px;
    height: 54px;
    color: white;
    margin-bottom: 10px;
}

.product__calculate {
    border: 2px solid #ff6212;
    background: none;
    border-radius: 4px;
    width: 238px;
    height: 54px;
}

.product__title {
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    margin: 30px 0 50px 0;
}

.next__btn {
    width: 70px;
    height: 70px;
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #7d7d7d;
    position: absolute;
    z-index: 999;
    right: -20px;
    bottom: 200px;

    @include phones() {
        right: 0;
        width: 50px;
        height: 50px;
    }
}

.prev__btn {
    width: 70px;
    height: 70px;
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #7d7d7d;
    position: absolute;
    z-index: 999;
    bottom: 200px;
    left: -40px;

    @include phones() {
        left: 0;
        width: 50px;
        height: 50px;
    }
}

.modal__card {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    top: 300px;
    right: 35%;
    background-color: #ededed;
    border-radius: 4px;
    width: 395px;
    height: 410px;
    z-index: 1099;

    @include phones() {
        right: 0;
        width: 100%;
    }

    .modal__title {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 35px;
    }

    .modal__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form__inp {
        margin-bottom: 20px;
        height: 45px;
        width: 100%;
        border-radius: 4px;
        background-color: #ffffff;
        border: none;
        padding: 17px;
    }

    .form__btn {
        width: 219px;
        height: 45px;
        border-radius: 4px;
        background-color: #ff6212;
        color: white;
    }
}

.modal__card--active {
    display: flex;
}

.bg__modal {
    position: absolute;
    width: 99999px;
    height: 999999px;
    background: #000;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: .5;
    display: none;
}

.bg__modal--active {
    display: inherit;
}