// .header__desk {
//     @include phones() {
//         display: none;
//     }
// }

// .header__mob {
//     width: 100vw;
//     margin-bottom: 40px;
//     display: none;
//     border-bottom: 2px solid rgb(185, 185, 185);

//     @include phones() {
//         display: inherit;
//     }
//         .header__nav {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//     .header__container {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }

//     .basket__link {
//         border: 2px solid #ff6212;
//         border-radius: 4px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 50px;
//         height: 44px;
        
//         .link__icon {
//             margin-right: 10px;
//         }
//     }

//     .navbar-toggle {
//         float: none;
//         margin: 0;
//     }
// }

.header {
    margin-bottom: 30px;

    @include phones() {
        padding: 0;
    }

    .top__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;
        
        @include phones() {
            align-items: flex-start;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding: 0;
        }
    }

    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top__logo-wrap {
        width: 308px;
        
        @include phones() {
            width: 50%;
            margin-right: 10px;
        }

        .top__logo {
            width: 100%;
        }
    }

    .top__adress {
        display: none;

        @include phones() {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
    }

    .top__basket {
        width: 172px;
        height: 41px;
        border-radius: 4px;
        border: 2px solid #ff6212;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;

        @include phones() {
            margin-top: 20px;
        }

        &:hover {
            background: #ffbb98;
        }

        .basket__img {
            width: 23px;
            height: 20px;
            margin-right: 5px;
        }

        .basket__text {
            margin: 0;

            .text__col {
                color: #ff6212;
            }
        }
    }

    .top__callback {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 75%;
        
        @include phones() {
            order: -1;
            width: 100%; 
            justify-content: flex-start;
            background-color: #333333;  
            padding: 5px;
            margin-bottom: 20px;
        }

        .callback__adress {
            display: flex;
            flex-direction: column;
            margin-right: 20px;

            @include phones() {
                display: none;
            }
        }
        
        .callback__call {
            display: flex;
            flex-direction: column;

            @include phones() {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }

        .call__text {
            color: #555555;
            font-size: 20px;
            font-weight: 700;

            @include phones() {
                color: white;
                margin: 0;
            }
        }

        .call__btn {
            color: #ff6212;
            border: none;
            border-bottom: 1px solid #ff6212;
            font-size: 16px;
            font-weight: 400;
            width: 136px;
            background: none;
        }
    }

    .header__bot {
        display: flex;
        background-color: #ededed;
        width: 100vw;
        margin-top: 40px;

        @include phones() {
            // display: none;
            margin-top: 20px;
        }
    }

    .bot__container {
        @include phones() {
            display: flex;
            width: 100%;
            position: relative;
        }
    }

    .bot__humburger {
        display: none;

        @include phones() {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 25px;
            height: 25px;
            right: 10px;
            top: 5px;
        }

        .humburger__img {
            display: none;

            @include phones() {
                display: inherit;
                width: 100%;
            }
        }
    }

    .bot__humburger-list {
        display: none;

        @include phones() {
            position: absolute;
            flex-direction: column;
            list-style: none;
            border: 1px solid #cccccc;
            height: 350px;
            padding: 0;
            margin: 0;
            right: 0;
            bottom: -350px;
            z-index: 99;
            width: 150px;
            background: white;
        }

        .humburger-list__item {
            padding: 5px 10px;

            .humburger-list__link {
                color: #333333;
            }
        }
    }

    .bot__humburger-list--active {
        display: flex;
    }

    .bot__list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        @include phones() {
            justify-content: flex-start;
        }

        .bot__item {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 10px 0;
            width: 11%;
            justify-content: center;
            cursor: pointer;
            position: relative;

            @include phones() {
                display: none;
            }

            &:hover {
                background-color: #d5d5d5;
            }

            &--catalog {

                @include phones() {
                    display: flex;
                    width: 20%;
                }
            }

            .item__link {
                margin: 0;
                color: black;
                text-decoration: none;

                &:hover {
                    color: black;
                    text-decoration: none;
                }
            }

            .item__catalog {
                display: none;
                flex-direction: column;
                width: 230px;
                position: absolute;
                height: 320px;
                bottom: -320px;
                left: 0;
                padding: 0;
                z-index: 999;
                list-style: none;
                background: white;
                border: 1px solid #cccccc;
                overflow: hidden;
                transition: .2s;

                .catalog__item {
                    padding: 10px;

                    &:hover {
                        background-color: #d5d5d5;                        
                    }
                }
            }

            .item__catalog--active {
                display: flex;
            }
        }
    }
}