// .header__desk {
//     @include phones() {
//         display: none;
//     }
// }

// .header__mob {
//     width: 100vw;
//     margin-bottom: 40px;
//     display: none;
//     border-bottom: 2px solid rgb(185, 185, 185);

//     @include phones() {
//         display: inherit;
//     }
//         .header__nav {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//     .header__container {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }

//     .basket__link {
//         border: 2px solid #ff6212;
//         border-radius: 4px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 50px;
//         height: 44px;
        
//         .link__icon {
//             margin-right: 10px;
//         }
//     }

//     .navbar-toggle {
//         float: none;
//         margin: 0;
//     }
// }

.header {
    margin-bottom: 30px;

    .top__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 1170px;
        margin: 0 auto;
    }

    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top__logo {
        width: 308px;
    }

    .top__basket {
        width: 172px;
        height: 41px;
        border-radius: 4px;
        border: 2px solid #ff6212;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;

        &:hover {
            background: #ffbb98;
        }

        .basket__img {
            width: 23px;
            height: 20px;
            margin-right: 5px;
        }

        .basket__text {
            margin: 0;

            .text__col {
                color: #ff6212;
            }
        }
    }

    .top__callback {
        display: flex;
        align-items: center;
        justify-content: center;

        .callback__adress {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
        
        .callback__call {
            display: flex;
            flex-direction: column;
        }

        .call__text {
            color: #555555;
            font-size: 20px;
            font-weight: 700;
        }

        .call__btn {
            color: #ff6212;
            border: none;
            border-bottom: 1px solid #ff6212;
            font-size: 16px;
            font-weight: 400;
            width: 136px;
            background: none;
        }
    }

    .header__bot {
        display: flex;
        background-color: #ededed;
        width: 100vw;
        margin-top: 40px;
    }

    .bot__list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        .bot__item {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 10px 0;
            width: 11%;
            justify-content: center;
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: #d5d5d5;
            }

            .item__link {
                margin: 0;
                color: black;
                text-decoration: none;

                &:hover {
                    color: black;
                    text-decoration: none;
                }
            }

            .item__catalog {
                display: none;
                flex-direction: column;
                width: 230px;
                position: absolute;
                height: 320px;
                bottom: -320px;
                left: 0;
                padding: 0;
                z-index: 999;
                list-style: none;
                background: white;
                border: 1px solid #cccccc;
                overflow: hidden;
                transition: .2s;

                .catalog__item {
                    padding: 10px;

                    &:hover {
                        background-color: #d5d5d5;                        
                    }
                }
            }

            .item__catalog--active {
                display: flex;
            }
        }
    }
}