<!doctype html>
<html lang="en">

<head>
    <title>СтройПеноБетон</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <header class="header">
        <div class="header__top">
            <div class="container top__container">
                <div class="top__logo-wrap">
                    <img src="./assets/images/logo.png" alt="logo" class="top__logo">
                </div>
                <a href="./basket.html" class="top__basket">
                    <div class="basket__icon">
                        <img src="./assets/images/basket.png" alt="basket" class="icon__img">
                        <p class="basket__text">Корзина</p>
                    </div>
                </a>
                <div class="top__adress">
                    <p>г. Челябинск,</p>
                    <p>ул. Складская, д. 1</p>
                </div>
                <div class="top__callback">
                    <div class="callback__adress">
                        <p>г. Челябинск,</p>
                        <p>ул. Складская, д. 1</p>
                    </div>
                    <div class="callback__call">
                        <a href="tel:+73512580500" class="call__text">+7 (351) 258-05-00</a>
                        <button class="call__btn">Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bot">
            <div class="container bot__container">
                <div class="bot__humburger">
                    <img src="./assets/images/humburger.png" alt="menu" class="humburger__img">
                </div>
                <ul class="bot__humburger-list">
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Пенобетон</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Бетон</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Документы</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Цены</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Калькуляторы</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Компания</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Доставка</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Документация</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Контакты</a>
                    </li>
                </ul>
                <ul class="bot__list">
                    <li class="bot__item bot__item--catalog">
                        <a href="./catalog.html" class="item__link">Каталог</a>
                        <ul class="item__catalog">
                            <li class="catalog__item">
                                <a href="#" class="item__link">Перемычки</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Бетон</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Стеновые блоки</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Кирпичи</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Раствор кладочный</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Цемент, сухие смеси</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Сетка кладочная</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Плиты перекрытия ПК</a>
                            </li>
                        </ul>
                    </li>
                    <li class="bot__item">
                        <a href="./about-penobeton.html" class="item__link">Пенобетон</a>
                    </li>
                    <li class="bot__item">
                        <a href="./delivery.html" class="item__link">Документы</a>
                    </li>
                    <li class="bot__item">
                        <a href="./price.html" class="item__link">Цены</a>
                    </li>
                    <li class="bot__item">
                        <a href="./calculator.html" class="item__link">Калькуляторы</a>
                    </li>
                    <li class="bot__item">
                        <a href="./about.html" class="item__link">Компания</a>
                    </li>
                    <li class="bot__item">
                        <a href="./delivery.html" class="item__link">Доставка</a>
                    </li>
                    <li class="bot__item">
                        <a href="./delivery.html" class="item__link">Документация</a>
                    </li>
                    <li class="bot__item">
                        <a href="./about-penobeton.html" class="item__link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </header>

    <main class="foam">
        <div class="container foam__container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb product__breadcrumbs">
                    <li class="breadcrumb-item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">О пенобетоне</a>
                    </li>
                </ol>
            </nav>
            <h1 class="foam__title">О пенобетоне</h1>
            <div class="foam__img">
                <img src="./assets/images/foam-concrete/main.png" alt="" class="img__img">
            </div>
            <h2 class="foam__subtitle">Применение пенобетона</h2>
            <div class="foam__apply">
                <ul class="apply__list">
                    <li class="apply__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/layer_1.png" alt="" class="img__img">
                        </div>
                        <a href="" class="item__link">В коттеджном строительстве
                        </a>
                    </li>
                    <li class="apply__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/layer_2.png" alt="" class="img__img">
                        </div>
                        <a href="" class="item__link">В малоэтажном строительстве
                        </a>
                    </li>
                    <li class="apply__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/layer_3.png" alt="" class="img__img">
                        </div>
                        <a href="" class="item__link">Общественные, складские и промышленные здания
                        </a>
                    </li>
                    <li class="apply__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/layer_4.png" alt="" class="img__img">
                        </div>
                        <a href="" class="item__link">Каркасные и панельные здания
                        </a>
                    </li>
                </ul>
            </div>
            <h2 class="foam__subtitle">Преимущества пенобетона</h2>
            <div class="foam__plus">
                <ul class="plus__list">
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/1.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Долговечность</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/2.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Тепло</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/3.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Комфорт</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/4.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Легкость в обработке</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/5.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Звукоизоляция</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/6.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Экологичность</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/7.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Экономичность</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/8.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Безопасность</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/9.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Легкая транспортировка
                        </a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/10.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Широта применения
                        </a>
                    </li>
                </ul>
            </div>
            <h2 class="foam__subtitle">Сравнение пеноблока с другими материалами</h2>
            <div class="foam__compare">
                <ul class="compare__list">
                    <li class="compare__item">
                        <div class="item__square blue"></div>
                        <p class="item__text">Плотность, кг/м3</p>
                    </li>
                    <li class="compare__item">
                        <div class="item__square orange"></div>
                        <p class="item__text">Требуемая толщина стены, м</p>
                    </li>
                    <li class="compare__item">
                        <div class="item__square aqua"></div>
                        <p class="item__text">Теплопроводность, Вт/м</p>
                    </li>
                    <li class="compare__item">
                        <div class="item__square red"></div>
                        <p class="item__text">Масса 1м2 стены, кг</p>
                    </li>
                </ul>
                <div class="compare__img">
                    <img src="./assets/images/foam-concrete/statistic.png" alt="" class="img__img">
                    <ul class="img__list">
                        <li class="img__item">
                            <a href="#" class="item__link">Бетон</a>
                        </li>
                        <li class="img__item">
                            <a href="#" class="item__link">Силикатный кирпич
                            </a>
                        </li>
                        <li class="img__item">
                            <a href="#" class="item__link">Керамический кирпич
                            </a>
                        </li>
                        <li class="img__item">
                            <a href="#" class="item__link">Шлакоблок</a>
                        </li>
                        <li class="img__item">
                            <a href="#" class="item__link">Пеноблок</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="row contact-form">
            <div class="container">
                <h2 class="text-center">Возникли вопросы?</h2>
                <p class="text-center">оставьте заявку, мы свяжемся с вами</p>
                <form action="" class="row">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" placeholder="Ваше имя">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="usermail" placeholder="Ваш email">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="submit" class="form-control btn" value="Отправить &rarr;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row footer-info">
            <div class="container">
                <div class="col-md-3">
                    <h4>Категории товаров</h4>
                    <a href="./catalog.html">Кирпичи</a>
                    <a href="./catalog.html">Пеноблоки</a>
                    <a href="./catalog.html">Бетон</a>
                    <a href="./catalog.html">Сыпучие материалы</a>
                </div>
                <div class="col-md-3">
                    <h4>Компания</h4>
                    <a href="./item.html">Производство</a>
                    <a href="./item.html">Объекты</a>
                    <a href="./about.html">О нас</a>
                    <a href="./price.html">Цены</a>
                </div>
                <div class="col-md-3">
                    <h4>Адрес</h4>
                    <p>г. Челябинск,
                        <br>ул. Складская, д.1</p>
                    <a href="./delivery.html">Посмотреть на карте</a>
                </div>
                <div class="col-md-3">
                    <a href="tel:73512356785" class="phone">+7 (351) 235-67-85</a>
                    <a href="tel:73512580500" class="phone">+7 (351) 258-05-00</a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="container">
                <p class="text-left">&copy; 2018, СтройПеноБетон</p>
                <p class="text-right">
                    <a href="#">Политика конфидециальности</a>
                <p>
            </div>
        </div>
        </div>
    </footer>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Заказать звонок</h4>
                </div>
                <div class="modal-body row">
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" style="background: #ff6213; color: white; border: none;">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>