<!doctype html>
<html lang="en">

<head>
    <title>СтройПеноБетон</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="index.php">
                        <img src="./assets/images/logo.png" alt="СтройПеноБетон" height="50px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="cart.php" class="card text-center basket">
                        <span class="glyphicon glyphicon-shopping-cart" style="margin-right: 10px;"> </span>
                        <span style="color: black; margin-right: 5px;">Корзина</span> (0)
                    </a>
                </div>
                <div class="col-md-2">
                    <p>г. Челябинск
                        <br>ул. Складская, д.1</p>
                </div>
                <div class="col-md-2">
                    <a href="#" class="phone-header">+7 (351) 258-05-00</a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Заказать звонок</a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-mobile">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">Перемычки</a>
                                </li>
                                <li>
                                    <a href="">Перемычки для пенобетона</a>
                                </li>
                                <li>
                                    <a href="">Бетон товарный БСТ</a>
                                </li>
                                <li>
                                    <a href="">ОБетон мелкозернистый БМЗ</a>
                                </li>
                                <li>
                                    <a href="">ФБС фундаментный блок</a>
                                </li>
                                <li>
                                    <a href="">Раствор кладочный</a>
                                </li>
                                <li>
                                    <a href="">Кирпич рядовой</a>
                                </li>
                                <li>
                                    <a href="">Кирпич лицевой</a>
                                </li>
                                <li>
                                    <a href="">Цемент, сухие смеси</a>
                                </li>
                                <li>
                                    <a href="">Сыпучие материалы</a>
                                </li>
                                <li>
                                    <a href="">Сетка кладочная</a>
                                </li>
                                <li>
                                    <a href="">Плиты перекрытия ПК</a>
                                </li>
                                <li>
                                    <a href="">Перемычки ПБ</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="penobeton.php">Пенобетон</a>
                        </li>
                        <li>
                            <a href="object.php">Объекты</a>
                        </li>
                        <li>
                            <a href="price.php">Цены</a>
                        </li>
                        <li>
                            <a href="calculator.php">Калькуляторы</a>
                        </li>
                        <li>
                            <a href="about.php">Компания</a>
                        </li>
                        <li>
                            <a href="delivery.php">Доставка</a>
                        </li>
                        <li>
                            <a href="documentation.php">Документация</a>
                        </li>
                        <li>
                            <a href="contacts.php">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="foam">
        <div class="container foam__container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb product__breadcrumbs">
                    <li class="breadcrumb-item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">О пенобетоне</a>
                    </li>
                </ol>
            </nav>
            <h1 class="foam__title">О пенобетоне</h1>
            <div class="foam__img">
                <img src="./assets/images/foam-concrete/main.png" alt="" class="img__img">
            </div>
            <h2 class="foam__subtitle">Применение пенобетона</h2>
            <div class="foam__apply">
                <ul class="apply__list">
                    <li class="apply__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/layer_1.png" alt="" class="img__img">
                        </div>
                        <a href="" class="item__link">В коттеджном строительстве
                        </a>
                    </li>
                    <li class="apply__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/layer_2.png" alt="" class="img__img">
                        </div>
                        <a href="" class="item__link">В малоэтажном строительстве
                        </a>
                    </li>
                    <li class="apply__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/layer_3.png" alt="" class="img__img">
                        </div>
                        <a href="" class="item__link">Общественные, складские и промышленные здания
                        </a>
                    </li>
                    <li class="apply__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/layer_4.png" alt="" class="img__img">
                        </div>
                        <a href="" class="item__link">Каркасные и панельные здания
                        </a>
                    </li>
                </ul>
            </div>
            <h2 class="foam__subtitle">Преимущества пенобетона</h2>
            <div class="foam__plus">
                <ul class="plus__list">
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/1.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Долговечность</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/2.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Тепло</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/3.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Комфорт</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/4.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Легкость в обработке</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/5.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Звукоизоляция</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/6.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Экологичность</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/7.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Экономичность</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/8.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Безопасность</a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/9.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Легкая транспортировка
                        </a>
                    </li>
                    <li class="plus__item">
                        <div class="item__img">
                            <img src="./assets/images/foam-concrete/10.png" alt="" class="img__img">
                        </div>
                        <a class="item__link">Широта применения
                        </a>
                    </li>
                </ul>
            </div>
            <h2 class="foam__subtitle">Сравнение пеноблока с другими материалами</h2>
            <div class="foam__compare">
                <ul class="compare__list">
                    <li class="compare__item">
                        <div class="item__square"></div>
                        <p class="item__text">Плотность, кг/м3</p>
                    </li>
                    <li class="compare__item">
                        <div class="item__square"></div>
                        <p class="item__text">Требуемая толщина стены, м</p>
                    </li>
                    <li class="compare__item">
                        <div class="item__square"></div>
                        <p class="item__text">Теплопроводность, Вт/м</p>
                    </li>
                    <li class="compare__item">
                        <div class="item__square"></div>
                        <p class="item__text">Масса 1м2 стены, кг</p>
                    </li>
                </ul>
                <div class="compare__img">
                    <img src="./assets/images/foam-concrete/statistic.png" alt="" class="img__img">
                    <ul class="img__list">
                        <li class="img__item">
                            <a href="#" class="item__link">Бетон</a>
                        </li>
                        <li class="img__item">
                            <a href="#" class="item__link">Силикатный кирпич
                            </a>
                        </li>
                        <li class="img__item">
                            <a href="#" class="item__link">Керамический кирпич
                            </a>
                        </li>
                        <li class="img__item">
                            <a href="#" class="item__link">Шлакоблок</a>
                        </li>
                        <li class="img__item">
                            <a href="#" class="item__link">Пеноблок</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="row contact-form">
            <div class="container">
                <h2 class="text-center">Возникли вопросы?</h2>
                <p class="text-center">оставьте заявку, мы свяжемся с вами</p>
                <form action="" class="row">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" placeholder="Ваше имя">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="usermail" placeholder="Ваш email">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="submit" class="form-control btn" value="Отправить &rarr;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row footer-info">
            <div class="container">
                <div class="col-md-3">
                    <h4>Категории товаров</h4>
                    <a href="catalog.php?type=bricks">Кирпичи</a>
                    <a href="catalog.php?type=foamconcrete">Пеноблоки</a>
                    <a href="catalog.php?type=beton_tovarnij">Бетон</a>
                    <a href="catalog.php?type=bulk">Сыпучие материалы</a>
                </div>
                <div class="col-md-3">
                    <h4>Компания</h4>
                    <a href="production.php">Производство</a>
                    <a href="object.php">Объекты</a>
                    <a href="about.php">О нас</a>
                    <a href="price.php">Цены</a>
                </div>
                <div class="col-md-3">
                    <h4>Адрес</h4>
                    <p>г. Челябинск,
                        <br>ул. Складская, д.1</p>
                    <a href="contacts.php">Посмотреть на карте</a>
                </div>
                <div class="col-md-3">
                    <a href="tel:73512356785" class="phone">+7 (351) 235-67-85</a>
                    <a href="tel:73512580500" class="phone">+7 (351) 258-05-00</a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="container">
                <p class="text-left">&copy; 2018, СтройПеноБетон</p>
                <p class="text-right" style="margin-top: -30px;">
                    <a href="politic.php">Политика конфидециальности</a>
                    <p>
            </div>
        </div>
        </div>
    </footer>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Заказать звонок</h4>
                </div>
                <div class="modal-body row">
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" style="background: #ff6213; color: white; border: none;">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>