<!doctype html>
<html lang="en">

<head>
    <title>СтройПеноБетон</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="index.php">
                        <img src="./assets/images/logo.png" alt="СтройПеноБетон" height="50px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="cart.php" class="card text-center basket">
                        <span class="glyphicon glyphicon-shopping-cart" style="margin-right: 10px;"> </span>
                        <span style="color: black; margin-right: 5px;">Корзина</span> (0)
                    </a>
                </div>
                <div class="col-md-2">
                    <p>г. Челябинск
                        <br>ул. Складская, д.1</p>
                </div>
                <div class="col-md-2">
                    <a href="#" class="phone-header">+7 (351) 258-05-00</a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Заказать звонок</a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-mobile">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">Перемычки</a>
                                </li>
                                <li>
                                    <a href="">Перемычки для пенобетона</a>
                                </li>
                                <li>
                                    <a href="">Бетон товарный БСТ</a>
                                </li>
                                <li>
                                    <a href="">ОБетон мелкозернистый БМЗ</a>
                                </li>
                                <li>
                                    <a href="">ФБС фундаментный блок</a>
                                </li>
                                <li>
                                    <a href="">Раствор кладочный</a>
                                </li>
                                <li>
                                    <a href="">Кирпич рядовой</a>
                                </li>
                                <li>
                                    <a href="">Кирпич лицевой</a>
                                </li>
                                <li>
                                    <a href="">Цемент, сухие смеси</a>
                                </li>
                                <li>
                                    <a href="">Сыпучие материалы</a>
                                </li>
                                <li>
                                    <a href="">Сетка кладочная</a>
                                </li>
                                <li>
                                    <a href="">Плиты перекрытия ПК</a>
                                </li>
                                <li>
                                    <a href="">Перемычки ПБ</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="penobeton.php">Пенобетон</a>
                        </li>
                        <li>
                            <a href="object.php">Объекты</a>
                        </li>
                        <li>
                            <a href="price.php">Цены</a>
                        </li>
                        <li>
                            <a href="calculator.php">Калькуляторы</a>
                        </li>
                        <li>
                            <a href="about.php">Компания</a>
                        </li>
                        <li>
                            <a href="delivery.php">Доставка</a>
                        </li>
                        <li>
                            <a href="documentation.php">Документация</a>
                        </li>
                        <li>
                            <a href="contacts.php">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="about">
        <div class="container about__container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb product__breadcrumbs">
                    <li class="breadcrumb-item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">О пенобетоне</a>
                    </li>
                </ol>
            </nav>
            <h1 class="about__title">О компании</h1>
            <div class="row about__row">
                <div class="col-md-2 col-sm-12">
                    <img src="./assets/images/about/1.png" alt="icon" class="about__icon">
                </div>
                <div class="col-md-8 col-sm-12">
                    <p>
                        Производственно Строительная Компания
                        <strong>«СтройПенобетон»</strong> – динамично развивающееся предприятие, имеющее большой опыт в производстве
                        <strong>стеновых и перегородочных пенобетонных блоков.</strong> Компания работает с 2007 года, на сегодняшний
                        день выпускает
                        <strong>5 000 м3 продукции ежемесячно,</strong> имеет собственную производственно-складскаю базу более 10
                        000 м2.
                    </p>
                    <p>
                        Предприятие зарекомендовало себя высоким качеством, являясь
                        <strong>лидером по объему производства пенобетонных блоков</strong> в г. Челябинске и Челябинской области.
                        Предприятие стабильно снабжает материалом, как небольшие, так и крупные строительные компании, а
                        также частных и юридических лиц. Принимает активное учаcтие в реализации нацпроекта «Малоэтажное
                        строительство», тесно сотрудничая с многими застройщиками коттеджных поселков.
                    </p>
                    <p>
                        Продукция нашей компании в больших объемах поставляется в соседние и северные регионы РФ:Тюменская область, Ханты-Мансийский
                        автономный округ, а также Свердловская область, Курганская область. Республика Башкортостан и др.
                    </p>
                    <img src="./assets/images/about/img.png" alt="img" class="about__img">
                </div>
            </div>
            <div class="row about__row">
                <div class="col-md-2">
                    <img src="./assets/images/about/2.png" alt="icon" class="about__icon">
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>Мы работаем на профессиональном оборудовании,</strong> используем для производства пеноблока и пенобетона
                        высокоточные формы обеспечивающие точную геометрию, а также
                        <strong>большой выбор типов и размеров блоков</strong> от 100 мм до 400 мм. Для производства используются
                        <strong>самые лучшие и экологически чистые компоненты</strong> без стиролов и других химических веществ.
                        Поэтому производимые пеноблоки относятся к высокому классу качества, которое также подтверждается
                        документально и предоставлением полного комплекта обязательных сертификатов.
                    </p>
                    <p>
                        Обратившись к нашим специалистам или отправив заявку через электронную почту в разделе «Контакты», Вы всегда получите грамотную
                        консультацию по вопросам, касающимся характе ристик пеноблока, сравнение с другими стеновыми материалами
                        и применения пенобетонных блоков в строительстве. Также Вам помогут
                        <a href="#" class="about__link">рассчитать необходимый объем</a> или количество пеноблока для Вашего строительства.
                    </p>
                    <p>
                        Об основных свойствах пенобетонных блоков и преимуществах перед типовыми строительными материалами можно ознакомиться на
                        странице
                        <a href="#" class="about__link">«О пенобетоне»</a>.
                    </p>
                </div>
            </div>
            <div class="row about__row">
                <div class="col-md-2">
                    <img src="./assets/images/about/3.png" alt="icon" class="about__icon">
                </div>
                <div class="col-md-8">
                    <h3>
                        Наше предприятие имеет собственный парк автомобильного транспорта:
                    </h3>
                    <p>
                        <strong>САМОПОГРУЗЧИК (манипулятор)</strong> : 3, 5, 8, 12, 16 тонн Обеспечивающий оперативную доставку пеноблока
                        до объекта в кратчайшие сроки по городу, области и регионам. Позволяя значительно экономить время
                        и деньги при поиске необходимого транспорта.
                    </p>
                    <p>
                        Подробнее об этом Вы можете узнать на странице
                        <a href="#" class="about__link">«Доставка и оплата»</a> .
                    </p>
                </div>
            </div>
            <div class="row about__row">
                <div class="col-md-2">
                    <img src="./assets/images/about/4.png" alt="icon" class="about__icon">
                </div>
                <div class="col-md-8">
                    <p>
                        Как форму оплаты за пеноблок готовы рассмотреть
                        <strong>взаимозачет на объекты недвижимости</strong>, а также строительные материалы (кирпич, цемент, ЖБИ,
                        бетон) металл, спецтехника и др.
                    </p>
                    <p>
                        Производственно — Строительная Компания "СтройПенобетон" – производство и продажа пеноблока и пенобетона высокого качества.
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="row contact-form">
            <div class="container">
                <h2 class="text-center">Возникли вопросы?</h2>
                <p class="text-center">оставьте заявку, мы свяжемся с вами</p>
                <form action="" class="row">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" placeholder="Ваше имя">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="usermail" placeholder="Ваш email">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="submit" class="form-control btn" value="Отправить &rarr;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row footer-info">
            <div class="container">
                <div class="col-md-3">
                    <h4>Категории товаров</h4>
                    <a href="catalog.php?type=bricks">Кирпичи</a>
                    <a href="catalog.php?type=foamconcrete">Пеноблоки</a>
                    <a href="catalog.php?type=beton_tovarnij">Бетон</a>
                    <a href="catalog.php?type=bulk">Сыпучие материалы</a>
                </div>
                <div class="col-md-3">
                    <h4>Компания</h4>
                    <a href="production.php">Производство</a>
                    <a href="object.php">Объекты</a>
                    <a href="about.php">О нас</a>
                    <a href="price.php">Цены</a>
                </div>
                <div class="col-md-3">
                    <h4>Адрес</h4>
                    <p>г. Челябинск,
                        <br>ул. Складская, д.1</p>
                    <a href="contacts.php">Посмотреть на карте</a>
                </div>
                <div class="col-md-3">
                    <a href="tel:73512356785" class="phone">+7 (351) 235-67-85</a>
                    <a href="tel:73512580500" class="phone">+7 (351) 258-05-00</a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="container">
                <p class="text-left">&copy; 2018, СтройПеноБетон</p>
                <p class="text-right">
                    <a href="politic.php">Политика конфидециальности</a>
                    <p>
            </div>
        </div>
        </div>
    </footer>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Заказать звонок</h4>
                </div>
                <div class="modal-body row">
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" style="background: #ff6213; color: white; border: none;">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>