<!doctype html>
<html lang="en">

<head>
    <title>СтройПеноБетон</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <header class="header">
        <div class="header__top">
            <div class="container top__container">
                <div class="top__logo-wrap">
                    <img src="./assets/images/logo.png" alt="logo" class="top__logo">
                </div>
                <a href="#" class="top__basket">
                    <div class="basket__icon">
                        <img src="./assets/images/basket.png" alt="basket" class="icon__img">
                        <p class="basket__text">Корзина</p>
                    </div>
                </a>
                <div class="top__adress">
                    <p>г. Челябинск,</p>
                    <p>ул. Складская, д. 1</p>
                </div>
                <div class="top__callback">
                    <div class="callback__adress">
                        <p>г. Челябинск,</p>
                        <p>ул. Складская, д. 1</p>
                    </div>
                    <div class="callback__call">
                        <a href="tel:+73512580500" class="call__text">+7 (351) 258-05-00</a>
                        <button class="call__btn">Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bot">
            <div class="container bot__container">
                <div class="bot__humburger">
                    <img src="./assets/images/humburger.png" alt="menu" class="humburger__img">
                </div>
                <ul class="bot__humburger-list">
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Пенобетон</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Бетон</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Документы</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Цены</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Калькуляторы</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Компания</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Доставка</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Документация</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Контакты</a>
                    </li>
                </ul>
                <ul class="bot__list">
                    <li class="bot__item bot__item--catalog">
                        <a href="#" class="item__link">Каталог</a>
                        <ul class="item__catalog">
                            <li class="catalog__item">
                                <a href="#" class="item__link">Перемычки</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Бетон</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Стеновые блоки</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Кирпичи</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Раствор кладочный</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Цемент, сухие смеси</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Сетка кладочная</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Плиты перекрытия ПК</a>
                            </li>
                        </ul>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Пенобетон</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Документы</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Цены</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Калькуляторы</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Компания</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Доставка</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Документация</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </header>

    <main class="calculator">
        <div class="container">
            <h1 class="calculator__title">Калькуляторы</h1>
            <div class="row calculator__concrete">
                <div class="col-md-4">
                    <img src="./assets/images/calculators/1.png" alt="">
                </div>
                <div class="col-md-8">
                    <div class="concrete__calc">
                        <h2 class="concrete__title">Расчет кол-ва бетона</h2>
                        <div class="concerete__content">
                            <form class="concrete__form">
                                <div class="form__group">
                                    <label for="" class="form__label">
                                        Общая длина "a" (м)
                                    </label>
                                    <input type="text" class="form__inp">
                                </div>
                                <div class="form__group">
                                    <label for="" class="form__label">
                                        Общая длина "a" (м)
                                    </label>
                                    <input type="text" class="form__inp">
                                </div>
                                <div class="form__group">
                                    <label for="" class="form__label">
                                        Общая длина "a" (м)
                                    </label>
                                    <input type="text" class="form__inp">
                                </div>
                                <button class="form__btn">Рассчитать</button>
                            </form>
                            <div class="concrete__answ">
                                <p class="answ__text">Вам понадобится </p>
                                <p class="answ__result">
                                    <strong>15 куб/м</strong> бетона.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row calculator__blocks">
                <div class="col-md-4">
                    <img src="./assets/images/calculators/2.png" alt="">
                </div>
                <div class="col-md-8">
                    <div class="blocks__content">
                        <h2 class="content__title">Расчет кол-ва блоков</h2>
                        <div class="content__calc">
                            <form class="calc__form">
                                <div class="form__group">
                                    <label for="" class="form__label">
                                        Общая длина стен из пенобетона (м)
                                    </label>
                                    <input type="text" class="form__inp">
                                </div>
                                <div class="form__group">
                                    <label for="" class="form__label">
                                        Общая высота стен из пенобетона (м)
                                    </label>
                                    <input type="text" class="form__inp">
                                </div>
                                <div class="form__group">
                                    <label for="" class="form__label">
                                        Общая площадь оконных и дверных проемов (м2)
                                    </label>
                                    <input type="text" class="form__inp">
                                </div>
                                <button class="form__btn">Рассчитать</button>
                            </form>
                        </div>
                        <div class="content__result">
                            <h2 class="result__title">
                                Результат
                            </h2>
                            <table class="table result__table">
                                <tbody>
                                    <tr>
                                        <td>Количество блоков для устройства описанных стен, за вычетом площади проемов, за вычетом
                                            кладочных швов 5% составит</td>
                                        <td>2,00 м3</td>
                                        <td>56 шт.</td>
                                    </tr>
                                    <tr>
                                        <td>Общее количество блоков, кратное поддону</td>
                                        <td>2,88 м3</td>
                                        <td>80 шт.</td>
                                    </tr>
                                    <tr>
                                        <td>Количество поддонов</td>
                                        <td>2 поддона</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="result__row">
                                <button class="result__btn">Оставить заявку</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row calculator__brick">
                <h1 class="brick__title">
                    Онлайн калькулятор расчета облицовочного и рядового кирпича
                </h1>
                <div class="col-md-6">
                    <form class="brick__form">
                        <div class="form__group">
                            <div class="form__round">i</div>
                            <label for="" class="form__label">
                                Размер (Д*Ш*В) или вид кирпича
                            </label>
                            <select type="text" class="form__inp">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <p>мм</p>
                        </div>
                        <div class="form__group">
                            <div class="form__round">i</div>
                            <label for="" class="form__label">
                                Общая длина всех стен (периметр)
                            </label>
                            <input type="text" class="form__inp">
                            <p>мм</p>
                        </div>
                        <div class="form__group">
                            <div class="form__round">i</div>
                            <label for="" class="form__label">
                                Высота стен по углам
                            </label>
                            <select type="text" class="form__inp">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <p>мм</p>
                        </div>
                        <div class="form__group">
                            <div class="form__round">i</div>
                            <label for="" class="form__label">
                                Толщина стен
                            </label>
                            <select type="text" class="form__inp">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <p>мм</p>
                        </div>
                        <div class="form__group">
                            <div class="form__round">i</div>
                            <label for="" class="form__label">
                                Толщина раствора в кладке
                            </label>
                            <select type="text" class="form__inp">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <p>мм</p>
                        </div>
                        <div class="form__group">
                            <div class="form__round">i</div>
                            <label for="" class="form__label">
                                Кладочная сетка
                            </label>
                            <input type="text" class="form__inp">
                            <p>мм</p>
                        </div>
                        <div class="form__group">
                            <div class="form__round">i</div>
                            <label for="" class="form__label">
                                Цена за 1 шт.
                            </label>
                            <input type="text" class="form__inp">
                            <p>руб</p>
                        </div>
                        <div class="form__group">
                            <div class="form__round">i</div>
                            <label for="" class="form__label">
                                Пустотность кирпича
                            </label>
                            <input type="text" class="form__inp">
                            <p>мм</p>
                        </div>
                        <div class="form__check">
                            <label for="" class="check__label">
                                Учесть окна и двери
                            </label>
                            <input type="checkbox" class="check__checkbox">
                            <label for="" class="check__label">
                                Фронтоны
                            </label>
                            <input type="checkbox" class="check__checkbox">
                        </div>
                        <div class="form__row">
                            <button class="form__btn">Рассчитать</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <img src="./assets/images/calculators/3.png" alt="картинка" class="brick__img" style="width: 100%;">
                </div>
            </div>
            <div class="row results">
                <div class="col-md-8">
                    <h1 class="results__title">Расчеты</h1>
                    <table class="table results__table">
                        <tbody>
                            <tr>
                                <td>Периметр строения</td>
                                <td>30</td>
                                <td>метров</td>
                            </tr>
                            <tr>
                                <td>Общая площадь клади</td>
                                <td>90</td>
                                <td>м2</td>
                            </tr>
                            <tr>
                                <td>Толщина стены</td>
                                <td>120</td>
                                <td>мм.</td>
                            </tr>
                            <tr>
                                <td>Количество кирпича</td>
                                <td>4542</td>
                                <td>шт.</td>
                            </tr>
                            <tr>
                                <td>Вес 1 кирпича</td>
                                <td>3.6</td>
                                <td>кг.</td>
                            </tr>
                            <tr>
                                <td>Общий вес кирпича</td>
                                <td>16349.54</td>
                                <td>кг.</td>
                            </tr>
                            <tr>
                                <td>Общий объем кирпича</td>
                                <td>8.86</td>
                                <td>м3</td>
                            </tr>
                            <tr>
                                <td>Количество кирпича в кубе</td>
                                <td>512</td>
                                <td>шт./м3</td>
                            </tr>
                            <tr>
                                <td>Кол-во раствора на всю кладку</td>
                                <td>1.88</td>
                                <td>м3</td>
                            </tr>
                            <tr>
                                <td>Примерный вес раствора</td>
                                <td>3572.37</td>
                                <td>кг.</td>
                            </tr>
                            <tr>
                                <td>Количество гибких связей</td>
                                <td>360</td>
                                <td>шт.</td>
                            </tr>
                            <tr>
                                <td>Оптимальная высота стены</td>
                                <td>301</td>
                                <td>см.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="row contact-form">
            <div class="container">
                <h2 class="text-center">Возникли вопросы?</h2>
                <p class="text-center">оставьте заявку, мы свяжемся с вами</p>
                <form action="" class="row">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" placeholder="Ваше имя">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="usermail" placeholder="Ваш email">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="submit" class="form-control btn" value="Отправить &rarr;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row footer-info">
            <div class="container">
                <div class="col-md-3">
                    <h4>Категории товаров</h4>
                    <a href="catalog.php?type=bricks">Кирпичи</a>
                    <a href="catalog.php?type=foamconcrete">Пеноблоки</a>
                    <a href="catalog.php?type=beton_tovarnij">Бетон</a>
                    <a href="catalog.php?type=bulk">Сыпучие материалы</a>
                </div>
                <div class="col-md-3">
                    <h4>Компания</h4>
                    <a href="production.php">Производство</a>
                    <a href="object.php">Объекты</a>
                    <a href="about.php">О нас</a>
                    <a href="price.php">Цены</a>
                </div>
                <div class="col-md-3">
                    <h4>Адрес</h4>
                    <p>г. Челябинск,
                        <br>ул. Складская, д.1</p>
                    <a href="contacts.php">Посмотреть на карте</a>
                </div>
                <div class="col-md-3">
                    <a href="tel:73512356785" class="phone">+7 (351) 235-67-85</a>
                    <a href="tel:73512580500" class="phone">+7 (351) 258-05-00</a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="container">
                <p class="text-left">&copy; 2018, СтройПеноБетон</p>
                <p class="text-right">
                    <a href="politic.php">Политика конфидециальности</a>
                    <p>
                        <div class="rp">
                            <p>Создание и продвижение сайтов</p>
                            <div class="rp__img">
                                <img src="./assets/images/rp.png" alt="rp" class="img__img">
                            </div>
                        </div>
            </div>
        </div>
        </div>
    </footer>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Заказать звонок</h4>
                </div>
                <div class="modal-body row">
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" style="background: #ff6213; color: white; border: none;">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>