<!doctype html>
<html lang="en">

<head>
    <title>СтройПеноБетон</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <header class="header">
        <div class="header__top">
            <div class="container top__container">
                <div class="top__logo-wrap">
                    <img src="./assets/images/logo.png" alt="logo" class="top__logo">
                </div>
                <a href="#" class="top__basket">
                    <div class="basket__icon">
                        <img src="./assets/images/basket.png" alt="basket" class="icon__img">
                        <p class="basket__text">Корзина</p>
                    </div>
                </a>
                <div class="top__adress">
                    <p>г. Челябинск,</p>
                    <p>ул. Складская, д. 1</p>
                </div>
                <div class="top__callback">
                    <div class="callback__adress">
                        <p>г. Челябинск,</p>
                        <p>ул. Складская, д. 1</p>
                    </div>
                    <div class="callback__call">
                        <a href="tel:+73512580500" class="call__text">+7 (351) 258-05-00</a>
                        <button class="call__btn">Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bot">
            <div class="container bot__container">
                <div class="bot__humburger">
                    <img src="./assets/images/humburger.png" alt="menu" class="humburger__img">
                </div>
                <ul class="bot__humburger-list">
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Пенобетон</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Бетон</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Документы</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Цены</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Калькуляторы</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Компания</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Доставка</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Документация</a>
                    </li>
                    <li class="humburger-list__item">
                        <a href="#" class="humburger-list__link">Контакты</a>
                    </li>
                </ul>
                <ul class="bot__list">
                    <li class="bot__item bot__item--catalog">
                        <a href="#" class="item__link">Каталог</a>
                        <ul class="item__catalog">
                            <li class="catalog__item">
                                <a href="#" class="item__link">Перемычки</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Бетон</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Стеновые блоки</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Кирпичи</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Раствор кладочный</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Цемент, сухие смеси</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Сетка кладочная</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Плиты перекрытия ПК</a>
                            </li>
                        </ul>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Пенобетон</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Документы</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Цены</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Калькуляторы</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Компания</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Доставка</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Документация</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </header>

    <main class="delivery">
        <div class="container">
            <h1 class="delivery__title">Доставка</h1>
            <p class="delivery__text">Привозим купленную продукцию до объекта, для выбора существует несколько вариантов доставки:</p>
            <div class="delivery__type">
                <h2 class="type__title">1. Доставка и разгрузка самопогрузчиком (манипулятором)</h2>
                <div class="type__content">
                    <div class="content__left">
                        <div class="left__blocks">
                            <div class="blocks__block">
                                <div class="block__text">
                                    <p>
                                        Самопогрузчик до 3 поддонов
                                    </p>
                                </div>
                                <div class="block__price">
                                    <p class="price__type">4,32 куб/м</p>
                                    <p class="price__price">от 1700 руб</p>
                                </div>
                            </div>
                            <div class="blocks__block">
                                <div class="block__text">
                                    <p>
                                        Самопогрузчик до 5 поддонов
                                    </p>
                                </div>
                                <div class="block__price">
                                    <p class="price__type">7,2 куб/м </p>
                                    <p class="price__price">от 2000 руб</p>
                                </div>
                            </div>
                        </div>
                        <div class="left__text">
                            <p class="text__text">
                                <span>Примечание:</span> При заказе самопогрузчика (манипулятора) время его работы включает в себя
                                погрузку, дорогу до места, разгрузку на месте и дорогу обратно.
                            </p>
                        </div>
                    </div>
                    <div class="content__right">
                        <div class="right__blocks">
                            <div class="blocks__block">
                                <div class="block__text">
                                    <p>
                                        Самопогрузчик до 9 поддонов
                                    </p>
                                </div>
                                <div class="block__price">
                                    <p class="price__type">12.96 куб/м</p>
                                    <p class="price__price">от 3000 руб</p>
                                </div>
                            </div>
                            <div class="blocks__block">
                                <div class="block__text">
                                    <p>
                                        Самопогрузчик до 12 поддонов
                                    </p>
                                </div>
                                <div class="block__price">
                                    <p class="price__type">17.82 куб/м</p>
                                    <p class="price__price">от 4000 руб</p>
                                </div>
                            </div>
                        </div>
                        <div class="right__text">
                            <p class="text__text">
                                <span>Важно:</span> При заказе доставки самопогрузчиком (манипулято- ром) необходимо четко представлять
                                возможность проезда транспортного средства к месту разгрузки.
                            </p>
                        </div>
                    </div>
                </div>
                <h2 class="type__title">2. Доставка тягачом с бортовым полуприцепом</h2>
                <div class="type__content">
                    <div class="type__block">
                        <div class="block__text">
                            <p>
                                Тягач с полуприцепом вместимостью до 18 поддонов
                            </p>
                        </div>
                        <div class="block__price">
                            <p class="price__type">25.92 куб/м</p>
                            <p class="price__price">от 4000 руб</p>
                        </div>
                    </div>
                    <p class="type__text">
                        <span>Примечание:</span> При заказе тягача с полупри- цепом, время его работы включает в себя погрузку, дорогу до места и дорогу обратно.
                    </p>
                    <p class="type__text">
                        <span>Важно:</span> При заказе доставки тягача с полупри- цепом необходимо четко представлять возможность проезда автомобиля к месту раз-
                        грузки и наличие разгрузочной технике (крана).
                    </p>
                </div>
            </div>
            <div class="delivery__type">
                <h2 class="type__title">3. Доставка самопогрузчиком + тягач с бортовым полуприцепом.</h2>
                <p class="type__text">
                    Доставка по области и регионам рассчитывается индивидуально в зависимости от дальности расстояния, необходимо уточнять по
                    телефону.
                </p>
            </div>
        </div>
    </main>

    <footer>
        <div class="row contact-form">
            <div class="container">
                <h2 class="text-center">Возникли вопросы?</h2>
                <p class="text-center">оставьте заявку, мы свяжемся с вами</p>
                <form action="" class="row">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" placeholder="Ваше имя">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="usermail" placeholder="Ваш email">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="submit" class="form-control btn" value="Отправить &rarr;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row footer-info">
            <div class="container">
                <div class="col-md-3">
                    <h4>Категории товаров</h4>
                    <a href="catalog.php?type=bricks">Кирпичи</a>
                    <a href="catalog.php?type=foamconcrete">Пеноблоки</a>
                    <a href="catalog.php?type=beton_tovarnij">Бетон</a>
                    <a href="catalog.php?type=bulk">Сыпучие материалы</a>
                </div>
                <div class="col-md-3">
                    <h4>Компания</h4>
                    <a href="production.php">Производство</a>
                    <a href="object.php">Объекты</a>
                    <a href="about.php">О нас</a>
                    <a href="price.php">Цены</a>
                </div>
                <div class="col-md-3">
                    <h4>Адрес</h4>
                    <p>г. Челябинск,
                        <br>ул. Складская, д.1</p>
                    <a href="contacts.php">Посмотреть на карте</a>
                </div>
                <div class="col-md-3">
                    <a href="tel:73512356785" class="phone">+7 (351) 235-67-85</a>
                    <a href="tel:73512580500" class="phone">+7 (351) 258-05-00</a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="container">
                <p class="text-left">&copy; 2018, СтройПеноБетон</p>
                <p class="text-right">
                    <a href="politic.php">Политика конфидециальности</a>
                    <p>
            </div>
        </div>
        </div>
    </footer>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Заказать звонок</h4>
                </div>
                <div class="modal-body row">
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" style="background: #ff6213; color: white; border: none;">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>