<!doctype html>
<html lang="en">

<head>
    <title>СтройПеноБетон</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <!-- <header class="header__desk">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="index.php">
                        <img src="./assets/images/logo.png" alt="СтройПеноБетон" height="50px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="cart.php" class="card text-center basket">
                        <span class="glyphicon glyphicon-shopping-cart" style="margin-right: 10px;"> </span>
                        <span style="color: black; margin-right: 5px;">Корзина</span> (0)
                    </a>
                </div>
                <div class="col-md-2">
                    <p>г. Челябинск
                        <br>ул. Складская, д.1</p>
                </div>
                <div class="col-md-2">
                    <a href="#" class="phone-header">+7 (351) 258-05-00</a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Заказать звонок</a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-mobile">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">Перемычки</a>
                                </li>
                                <li>
                                    <a href="">Перемычки для пенобетона</a>
                                </li>
                                <li>
                                    <a href="">Бетон товарный БСТ</a>
                                </li>
                                <li>
                                    <a href="">ОБетон мелкозернистый БМЗ</a>
                                </li>
                                <li>
                                    <a href="">ФБС фундаментный блок</a>
                                </li>
                                <li>
                                    <a href="">Раствор кладочный</a>
                                </li>
                                <li>
                                    <a href="">Кирпич рядовой</a>
                                </li>
                                <li>
                                    <a href="">Кирпич лицевой</a>
                                </li>
                                <li>
                                    <a href="">Цемент, сухие смеси</a>
                                </li>
                                <li>
                                    <a href="">Сыпучие материалы</a>
                                </li>
                                <li>
                                    <a href="">Сетка кладочная</a>
                                </li>
                                <li>
                                    <a href="">Плиты перекрытия ПК</a>
                                </li>
                                <li>
                                    <a href="">Перемычки ПБ</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="penobeton.php">Пенобетон</a>
                        </li>
                        <li>
                            <a href="object.php">Объекты</a>
                        </li>
                        <li>
                            <a href="price.php">Цены</a>
                        </li>
                        <li>
                            <a href="calculator.php">Калькуляторы</a>
                        </li>
                        <li>
                            <a href="about.php">Компания</a>
                        </li>
                        <li>
                            <a href="delivery.php">Доставка</a>
                        </li>
                        <li>
                            <a href="documentation.php">Документация</a>
                        </li>
                        <li>
                            <a href="contacts.php">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <header class="header__mob">
        <div class="container header__container">
            <div class="header__basket">
                <a href="cart.php" class="card text-center basket__link">
                    <span class="glyphicon glyphicon-shopping-cart"> </span>
                </a>
            </div>
            <div class="header__logo">
                <a href="index.php">
                    <img src="./assets/images/logo.png" alt="СтройПеноБетон" height="50px">
                </a>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-mobile">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">Перемычки</a>
                                    </li>
                                    <li>
                                        <a href="">Перемычки для пенобетона</a>
                                    </li>
                                    <li>
                                        <a href="">Бетон товарный БСТ</a>
                                    </li>
                                    <li>
                                        <a href="">ОБетон мелкозернистый БМЗ</a>
                                    </li>
                                    <li>
                                        <a href="">ФБС фундаментный блок</a>
                                    </li>
                                    <li>
                                        <a href="">Раствор кладочный</a>
                                    </li>
                                    <li>
                                        <a href="">Кирпич рядовой</a>
                                    </li>
                                    <li>
                                        <a href="">Кирпич лицевой</a>
                                    </li>
                                    <li>
                                        <a href="">Цемент, сухие смеси</a>
                                    </li>
                                    <li>
                                        <a href="">Сыпучие материалы</a>
                                    </li>
                                    <li>
                                        <a href="">Сетка кладочная</a>
                                    </li>
                                    <li>
                                        <a href="">Плиты перекрытия ПК</a>
                                    </li>
                                    <li>
                                        <a href="">Перемычки ПБ</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="penobeton.php">Пенобетон</a>
                            </li>
                            <li>
                                <a href="object.php">Объекты</a>
                            </li>
                            <li>
                                <a href="price.php">Цены</a>
                            </li>
                            <li>
                                <a href="calculator.php">Калькуляторы</a>
                            </li>
                            <li>
                                <a href="about.php">Компания</a>
                            </li>
                            <li>
                                <a href="delivery.php">Доставка</a>
                            </li>
                            <li>
                                <a href="documentation.php">Документация</a>
                            </li>
                            <li>
                                <a href="contacts.php">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header> -->
    <header class="header">
        <div class="header__top">
            <div class="container top__container">
                <img src="./assets/images/logo.png" alt="logo" class="top__logo">
                <button class="top__basket">
                    <img src="./assets/images/basket.png" alt="#" class="basket__img">
                    <p class="basket__text">Корзина
                        <span class="text__col"> (0)</span>
                    </p>
                </button>
                <div class="top__callback">
                    <div class="callback__adress">
                        <p>г. Челябинск,</p>
                        <p>ул. Складская, д. 1</p>
                    </div>
                    <div class="callback__call">
                        <a href="tel:+73512580500" class="call__text">+7 (351) 258-05-00</a>
                        <button class="call__btn">Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bot">
            <div class="container">
                <ul class="bot__list">
                    <li class="bot__item bot__item--catalog">
                        <a href="#" class="item__link">Каталог</a>
                        <ul class="item__catalog">
                            <li class="catalog__item">
                                <a href="#" class="item__link">Перемычки</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Бетон</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Стеновые блоки</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Кирпичи</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Раствор кладочный</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Цемент, сухие смеси</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Сетка кладочная</a>
                            </li>
                            <li class="catalog__item">
                                <a href="#" class="item__link">Плиты перекрытия ПК</a>
                            </li>
                        </ul>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Пенобетон</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Документы</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Цены</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Калькуляторы</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Компания</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Доставка</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Документация</a>
                    </li>
                    <li class="bot__item">
                        <a href="#" class="item__link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                    <li data-target="#carousel" data-slide-to="4"></li>
                    <li data-target="#carousel" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="catalog.php?type=foamconcrete">
                            <img src="./assets/images/slide_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="catalog.php?type=peremichki_dly_penobloka">
                            <img src="./assets/images/slide_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="catalog.php?type=fbs">
                            <img src="./assets/images/slide_3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="catalog.php?type=bricks">
                            <img src="./assets/images/slide_4.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="catalog.php?type=bulk">
                            <img src="./assets/images/slide_5.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="catalog.php?type=beton_tovarnij">
                            <img src="./assets/images/slide_6.jpg" alt="">
                        </a>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <h2 class="text-center">Категории</h2>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail index__card">
                        <img src="./assets/images/penoblock_1.jpg" alt="Перемычки">
                        <div class="caption">
                            <h4 class="caption__title">Перемычки</h4>
                        </div>
                        <ul class="card__menu">
                            <li class="menu__item">
                                <a href="#" class="item__link">Пеноблоки</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="item__link">Керамзитоблоки</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="item__link">Шлакоблоки</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="item__link">Керамзитоблоки</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="item__link">Полистеролбетонные блоки</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail index__card">
                        <img src="./assets/images/tow_concrete_1.jpg" alt="Бетон">
                        <div class="caption">
                            <h4>Бетон</h4>
                        </div>
                        <ul class="card__menu">
                            <li class="menu__item">
                                <a href="#" class="item__link">Пеноблоки</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="item__link">Керамзитоблоки</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="item__link">Шлакоблоки</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="item__link">Керамзитоблоки</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="item__link">Полистеролбетонные блоки</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="catalog.php?type=beton_tovarnij">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="./assets/images/concrete_1.jpg" alt="Стеновые блоки">
                            <div class="caption">
                                <h4>Стеновые блоки</h4>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="catalog.php?type=fbs">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="./assets/images/fbs_1.jpg" alt="Кирпичи">
                            <div class="caption">
                                <h4>Кирпичи</h4>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="catalog.php?type=fbs">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="./assets/images/fbs_1.jpg" alt="Растворы складочные">
                            <div class="caption">
                                <h4>Растворы складочные</h4>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="catalog.php?type=fbs">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="./assets/images/fbs_1.jpg" alt="Цемент, сухие смеси">
                            <div class="caption">
                                <h4>Цемент, сухие смеси</h4>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="catalog.php?type=fbs">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="./assets/images/fbs_1.jpg" alt="Сетки кладочные">
                            <div class="caption">
                                <h4>Сетки кладочные</h4>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="catalog.php?type=fbs">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="./assets/images/fbs_1.jpg" alt="Плиты перекрытия пк">
                            <div class="caption">
                                <h4>Плиты перекрытия пк</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <h2 class="text-center">Почему выбирают нас</h2>
            <div class="row">
                <div class="col-md-4 card-info">
                    <img src="./assets/images/price.png" alt="Цены от производителя" width="75">
                    <h4>Цены от производителя</h4>
                </div>
                <div class="col-md-4 card-info">
                    <img src="./assets/images/box.png" alt="Бесплатное хранение" width="75">
                    <h4>Бесплатное хранение</h4>
                </div>
                <div class="col-md-4 card-info">
                    <img src="./assets/images/medal.png" alt="Сертифицированная продукция" width="75">
                    <h4>Сертифицированная продукция</h4>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="row contact-form">
            <div class="container">
                <h2 class="text-center">Возникли вопросы?</h2>
                <p class="text-center">оставьте заявку, мы свяжемся с вами</p>
                <form action="" class="row">
                    <div class="row callback">

                        <div class="col-md-3 callback__block">
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" placeholder="Ваше имя">
                            </div>
                        </div>

                        <div class="col-md-3 callback__block">
                            <div class="input-group">
                                <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон">
                            </div>
                        </div>

                        <div class="col-md-3 callback__block">
                            <div class="input-group">
                                <input type="text" class="form-control" name="usermail" placeholder="Ваш email">
                            </div>
                        </div>

                        <div class="col-md-3 callback__block">
                            <div class="input-group">
                                <input type="submit" class="form-control btn" value="Отправить &rarr;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row footer-info">
            <div class="container">
                <div class="col-md-3">
                    <h4>Категории товаров</h4>
                    <a href="catalog.php?type=bricks">Кирпичи</a>
                    <a href="catalog.php?type=foamconcrete">Пеноблоки</a>
                    <a href="catalog.php?type=beton_tovarnij">Бетон</a>
                    <a href="catalog.php?type=bulk">Сыпучие материалы</a>
                </div>
                <div class="col-md-3">
                    <h4>Компания</h4>
                    <a href="production.php">Производство</a>
                    <a href="object.php">Объекты</a>
                    <a href="about.php">О нас</a>
                    <a href="price.php">Цены</a>
                </div>
                <div class="col-md-3">
                    <h4>Адрес</h4>
                    <p>г. Челябинск,
                        <br>ул. Складская, д.1</p>
                    <a href="contacts.php">Посмотреть на карте</a>
                </div>
                <div class="col-md-3">
                    <a href="tel:73512356785" class="phone">+7 (351) 235-67-85</a>
                    <a href="tel:73512580500" class="phone">+7 (351) 258-05-00</a>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="container">
                <p class="text-left">&copy; 2018, СтройПеноБетон</p>
                <p class="text-right">
                    <a href="politic.php">Политика конфидециальности</a>
                    <p>
            </div>
        </div>
        </div>
    </footer>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Заказать звонок</h4>
                </div>
                <div class="modal-body row">
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input type="text" class="form-control" name="userphone" placeholder="Ваш телефон" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" style="background: #ff6213; color: white; border: none;">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>